<!--home.html--> 
<html>
      <!-- место вставки шаблона header.html  -->
        {{ template "header.html" .}}
       
      <h4>Разработаны функции:</h4>
       <ol>
          <li>создания пользователя</li>
          <li>по ID делает друзей из двух пользователей (curl -X POST -i http://localhost:8800/users/friends -H "content-type: application/json" -d "{\"sourceid\":1,\"targetid\":4}")</li>
          <li>по ID удаляет пользователя...........................(curl -X DELETE -i http://localhost:8800/users/delete/4)</li>
          <li>по ID обновляет возраст пользователя.........(curl -X PUT -H "content-type: application/json" -d "22" -i http://localhost:8800/users/2)</li>
        </ol> 
      <h4>Просмотр в браузере:</h4> 
        <ul>
          <li>всех пользователей (меню)</li>
          <li>по ID информация о пользователе (кнопка)</li>  
          <li>по ID пользователя всех его друзей (кнопка)</li>
        </ul>  
</html>      
     <!-- место вставки шаблона footer.html -->

{{ template "footer.html" .}}
     
