<!--user.html-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
  </head>
  <body>  
<!--место вставки шаблона header.html-->
{{ template "header.html" .}}  
  <!--Отображение ФИО пользователя-->
    <table style="width:80%">
        <tr>           
            <th style="width:10%"><p>ID</p></th>
            <th><p>Имя</p></th>
            <th><p>Фамилия</p></th>            
            <th><p>Возраст</p></th>
        </tr>
     <!--Отображение имени, фамилии и возраста-->
        <tr>
            <td><h4><form action="/users/friends/{{.payload.ID}}"><button>{{.payload.ID}}</form></h3></td>
            <td><h4>{{ .payload.LastName}} </h4></td> 
            <td><h4>{{ .payload.FirstName}}</h4></td>
            <td><h4>{{ .payload.Age}}</h4></td>
            <td><form action="http://localhost:8080/users/delete/{{.payload.ID}}" method="POST" target="_self"><h5><button>{{.payload.ID}}.удалить</h5></form></td>
        </tr>      
    </table> 
  <nav> <!-- Меню -->
    <ul>      
      <li><a href="/users/friends/{{.payload.ID}}">Друзья пользователя </a></li>
    </ul>
  </nav>
</body>                
<!-- место вставки шаблона footer.html -->
{{ template "footer.html" .}}
</html>    
