<!--delete.html-->
<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8"> 
        </head>
        <body>
            {{ template "header.html" .}}            
            <table style="width:40%"><!-- шапка таблицы  --> 
                <tr>
                    <th style="width:16%"><p>ID</p></th> 
                    <th style="width:20%"><p>Имя</p></th>
                    <th style="width:20%"><p>Фамилия</p></th>            
                    <th style="width:15%"><p>Возраст</p></th>
                </tr>
            </table>
            <h3>Пользователь  удален ... </h3>
        </body>  
            {{ template "footer.html" .}}
    </html>    
